<div class="container">
  <form class="col-md-12">
    <h1>New Job</h1>
    <input type="text" name="jobname" class="form-control" placeholder="Job Name" />
    <input type="file" id="userPhotoInput" name="data" />
    <input type="submit" value="Submit" class="form-control col-md-2" />
  </form>
</div>
